<h1>Mis viajes</h1>
<!--<ul class="search-result">-->
<!--<li *ngFor="let v of viajes">-->
<!--{{v.id}} - {{v.origen}} - {{v.destino}} - {{v.precio}} - {{v.plazas}} - {{v.descripcion}} <button (click)="search(v)" class="btn btn-primary">Ver</button>-->
<!--</li>-->
<!--</ul>-->
<p-dataTable [value]="viajes">
  <p-column field="id" header="ID"></p-column>
  <p-column field="origen" header="Origen"></p-column>
  <p-column field="destino" header="Destino"></p-column>
  <p-column field="precio" header="Precio"></p-column>
  <p-column field="plazas" header="Plazas"></p-column>
  <p-column field="descripcion" header="Descripcion"></p-column>
  <p-column>
    <ng-template let-v="rowData" let-i="rowIndex" pTemplate="body">
      <button type="button" pButton (click)="search(v)" class="btn btn-primary">Ver</button>
      <button type="button" pButton (click)="eliminar(v)" class="btn btn-danger">Eliminar</button>
    </ng-template>
  </p-column>
</p-dataTable>
<br>
<br>
<h2>Nuevo</h2>
<div>
  Origen-Destino
  <p-dropdown [options]="provincias" [(ngModel)]="viaje.origen" [style]="{'width':'200px'}"></p-dropdown>
  <p-dropdown [options]="provincias" [(ngModel)]="viaje.destino" [style]="{'width':'200px'}"></p-dropdown>
</div>
<br>
<div>
  Plazas
  <input type="text" pInputText pKeyFilter="int" placeholder="Plazas" [(ngModel)]="viaje.plazas">
</div>
<br>
<div>
  Precio
  <input type="text" pInputText pKeyFilter="num" placeholder="Precio" [(ngModel)]="viaje.precio">
</div>
<br>
<div>
  Descripcion
  <textarea pInputTextarea [(ngModel)]="viaje.descripcion"></textarea>
</div>
<br>
<br>
<button type="button" pButton (click)="crear()" class="btn btn-primary">Crear viaje</button>
